 .block{
    float:right;
    width: 33.3%;
    border:2px solid rgb(0, 0, 0);
    padding: 8px;
    background-color: #08163db4;
    font-size: x-large;
    font-style: oblique;
    text-align: center;
  }
  
  .blockx{
    float:right;
    width: 33.3%;
    border:2px solid rgb(0, 0, 0);
    padding:8px;
    box-sizing:border-box;
    background-color: #1717cc94;
    font-size: x-large;
    font-style: oblique;
    text-align: center;
  }
   

